body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*IMAGES*/
img {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px ;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url("https://htmlcolorcodes.com/assets/images/colors/black-color-solid-background-1920x1080.png");
    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 5%;
}

/*HERO-END*/


/*CONCERTS*/
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#concerts {
    justify-content: center;
    display: flex;
}

/*CONCERTS-END*/

/*FOOTER*/

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.aboutImg {
    height: 250px;
    width: 200px;
    display: block;
    margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 5%;
}

h1 {
    text-align: center;
    margin-top: 5%;
}

input {
    background-color: black;
}

input::placeholder {
    color:white;
    text-align: center;
}